* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    text-rendering: optimizeLegibility
}

body {
    font-size: 18px;
}

section {
    margin: 10px auto 20px;
    background-color: transparent;
    border: 1px solid #eff1f6;
    box-shadow: 0 4px 24px rgba(51, 51, 51, .08);
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 64px;
    padding: 14px 0 14px 0;
    text-align: center;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 840px;
    margin: 0 auto;
}

.footer__text {
    color: #737373;
    font-weight: 400;
    text-decoration: none;
    font-size: 14px;
}

h1 {
    display: block;
    padding: 0;
    margin: 0 0 24px;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.0;
    color: #00a82d;
    position: relative;
}

.after-h1 {
    color: #00a82d;
    border-bottom: #00a82d solid 3px;
    margin-bottom: 14px;
}

h2 {
    text-transform: uppercase;
}

h2, h3 {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

h4 {
    font-size: 18px;
    margin-top: 18px;
    margin-bottom: 8px;
}

span {
    font-family: inherit;
}

strong {
    font-weight: 500;
    color: darkolivegreen;
    background-color: lightgoldenrodyellow;
    border-radius: 5px;
    font-family: inherit;
}

.no_mb {
    margin-bottom: 0 !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.sparse-li li {
    margin-bottom: 10px !important;
}

.no_margin {
    margin: 0 !important;
}

.no_mt {
    margin-top: 0 !important;
}

.container {
    max-width: 840px;
    padding: 10px 10px 30px 10px;
    position: relative;
}

.breadcrumbs {
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 14px;
}

.breadcrumbs p {
    padding: 3px 10px;
    box-shadow: 0 0 10px 3px rgba(51, 51, 51, .08);
    text-decoration: none;
    margin: 2px 3px;
}

.breadcrumbs p > a {
    text-decoration: none;
}

.breadcrumbs p:first-child:before {
    content: '';
    width: 18px;
    height: 13px;
    display: inline-block;
    background-image: url("img/home.png");
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
}

.breadcrumbs p:not(:last-child) {
    margin-right: 2px;
}

.breadcrumbs p:not(:last-child):after {
    content: '▶';
    padding-left: 5px;
    color: #00a82d;
}

a:link, a:visited {
    color: inherit;
}

a:hover {
    color: #00a82d;
    text-decoration: underline;
}

ol {
    padding-left: 32px;
}

ul {
    padding-left: 20px;
}

ol, ul {
    margin-bottom: 14px;
}

li p {
    margin-bottom: 0;
}

li li {
    list-style-type: "− ";
}

td {
    vertical-align: top;
    padding-bottom: 10px;
}

li span,
td span {
    font-weight: bold;
}

td p, td div {
    margin: 5px 0 0 20px;
}

td div ol {
    margin-left: 40px;
}

p {
    margin-bottom: 14px;
}

img {
    max-width: 100%;
}

.image-box {
    text-align: center;
}

.image {
    cursor: pointer;
}

.full {
    max-width: none;
}

.show {
    overflow: auto;
}

.update-time {
    right: 10px;
    top: 0;
    font-size: xx-small;
    color: darkgrey;
    white-space: nowrap;
    position: absolute;
}

.update-time:before {
    content: 'Обновлено: ';
}

.menu a {
    text-decoration: none;
}

.menu li, .menu tr {
    margin-bottom: 10px;
}

.back-panel {
    text-align: right;
    margin-bottom: 14px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.button {
    cursor: pointer;
    text-decoration: none !important;
    user-select: none;
    padding: 5px 20px;
    border-radius: 4px;
    display: inline;
    transition: all 0.3s ease 0s;
}

.button--home {
    background-color: #00a82d;
    border: #00a82d solid 2px;
    color: #ffffff !important;
}

.button--home:hover {
    background-color: #00a82dCC;
}

.button--back {
    background-color: #00a82d10;
    color: #00a82d;
    border: #00a82d solid 2px;
}

.button--top {
    opacity: 0.5;
    position: absolute;
    right: 5px;
    bottom: 12px;
    padding: 0;
    font-weight: bold;
    border: 20px solid transparent;
    border-bottom: 20px solid green;
}

.button--top:hover {
    opacity: 1;
}

.link-to-source {
    font-size: smaller;
    text-decoration: none;
    position: relative;
    padding-left: 20px;
}

.link-to-source:before {
    position: absolute;
    top: 3px;
    left: 0;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url("img/book.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.main-mind {
    font-weight: bold;
    padding-left: 12px;
    border-left: #00a82d solid 3px;
    margin-bottom: 14px;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.min-w-75 {
    min-width: 75px;
}

.min-w-150 {
    min-width: 150px;
}

.example {
    font-size: smaller;
    color: darkgrey;
}

.example--word {
    font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
    font-weight: 700;
}

.key_combination {
    color: rgb(182, 41, 212);
    font-weight: 600;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 1px 4px;
    border-radius: 4px;
}

.code {
    font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
    font-size: smaller;
    padding: 4px 8px;
    color: rgb(51, 51, 51);
    border-radius: 4px;
    background-color: rgb(251, 250, 248);
    border: 1px solid rgba(0, 0, 0, 0.14902);
    margin-bottom: 15px;
    overflow: auto;
}

.scroll {
    overflow: auto;
}

td .code {
    word-break: break-word;
}

.code p,
.code-word p {
    margin: 0;
    font-family: inherit;
}

.code-word {
    font-family: 'Monaco', 'Menlo', 'Consolas', 'Courier New', monospace;
    font-weight: bold;
    padding: 0 4px;
    color: rgb(51, 51, 51);
    border-radius: 4px;
    background-color: rgb(251, 250, 248);
    border: 1px solid rgba(0, 0, 0, 0.14902);
    white-space: nowrap;
}

.wrap-normal {
    white-space: normal;
}

.code.example--word,
.code-word.example--word,
.code .example--word,
.code-word .example--word {
    color: #00a82d;
}

.tab-1 {
    padding-left: 15px;
}

.tab-2 {
    padding-left: 30px;
}

.tab-3 {
    padding-left: 45px;
}

.tab-4 {
    padding-left: 60px;
}

.bad {
    color: red;
}

.good {
    color: green;
}

.bad span, .good span {
    font-weight: bold;
}

.schema {
    border-spacing: 0 10px;
}

.schema td {
    padding: 0 15px;
    position: relative;
    vertical-align: middle;
}

.schema .p0 {
    padding: 0 5px;
    font-size: smaller;
    font-weight: bold;
    color: #00a82d;
}

.schema td:not(:last-child) {
    border-right: #00a82d solid 1px;
}

.schema td:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-top: #00a82d solid 2px;
    height: 0;
    width: 10px;
}

.schema .p0:before {
    content: none;
}

.navi {
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    color: #00a82d;
    padding-top: 30px;
    margin: 0 auto;
    font-size: large;
}

.navi-button {
    opacity: 0.5;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.navi-button:hover {
    opacity: 1;
    cursor: pointer;
    text-decoration: underline;
}

.navi-button:after {
    position: absolute;
    top: 15%;
}

.navi--prev {
    padding-left: 30px;
}

.navi--next {
    text-align: right;
    padding-right: 30px;
}

.navi--prev:after {
    content: '';
    border: 10px solid transparent;
    border-right: 15px solid green;
    left: 0;
}

.navi--next:after {
    content: '';
    border: 10px solid transparent;
    border-left: 15px solid green;
    right: 0;
}

.list {
    border-collapse: collapse;
    margin-bottom: 20px;
    min-width: 100%;
}

.list,
.list th,
.list td {
    border: 1px solid rgba(0, 0, 0, 0.14902);
    padding: 10px;
}

.list td p {
    margin: 0;
}

.list td:nth-child(2) {
    padding-left: 20px;
}

.list thead {
    background: lightslategray;
    color: white;
}

.list tr:nth-child(even) {
    background: #eeeeee;
}

.list--dictionary td:first-child {
    font-weight: bold;
}

.list--content-center td:not(:first-child) {
    text-align: center;
}

.list--content-vertical-middle td:not(:first-child) {
    vertical-align: middle;
}

an {
    font-weight: bold;
    color: darkorange;

}

.spoiler {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
    background-color: lightgoldenrodyellow;
}

.spoiler p {
    margin: 7px 0;
}

.spoiler.active {
    border: #00a82d solid 1px;
    padding: 0 5px 5px 0;
}

.spoiler-button {
    position: relative;
    display: inline-block;
    padding-right: 25px;
    height: 20px;
    cursor: pointer;
}

.spoiler-button:after,
.spoiler-button:before {
    content: '';
    width: 10px;
    height: 2px;
    background-color: #00a82d;
    position: absolute;
    top: 14px;
    transition: all 0.3s ease 0s;
}

.spoiler-button:before {
    transform: rotate(40deg);
    right: 7px;
}

.spoiler-button:after {
    transform: rotate(-40deg);
    right: 0;
}

.spoiler-button.active:before {
    transform: rotate(-40deg);
}

.spoiler-button.active:after {
    transform: rotate(40deg);
}

@media screen and (max-width: 680px) {
    .list {
        font-size: 12px;
    }

    .list, .list th, .list td {
        padding: 5px 1px;
    }

    .list td:nth-child(2) {
        padding-left: 3px;
    }

    .spoiler p {
        padding-left: 15px;
    }
}